/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh; /* Altura de 100% da viewport */
    background-image: url("assets/background-image.webp");
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-attachment: fixed;
    position: relative;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Layout principal */
.container {
    display: flex;
    min-height: 100vh;
}

/* Menu Lateral */
.sidebar {
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo-img {
    width: 100px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu ul li.active a {
    color: #007bff;
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
    padding: 20px;
}

.main-content header h1 {
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img {
    height: 150px;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info {
    padding: 15px;
}

.card-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 14px;
    color: #666;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos do footer*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    font-family: Arial, sans-serif;
  }
  
  .footer-left p {
    font-size: 14px;
    color: #333;
  }
  
  .footer-right {
    text-align: center;
  }
  
  .footer-right h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .accessibility {
    display: flex;
    align-items: center;
  }
  
  .zoom-icon {
    font-size: 16px;
    margin-right: 5px;
  }
  
  .zoom-text {
    font-size: 14px;
    color: #333;
  }